.product {
  width: 300px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info > p {
  margin-bottom: 5px;
}

.product-name {
  font-size: 1rem;
  margin-top: 5px;
}

.product-price {
  font-weight: bold;
}

.product-button {
  display: block;
  width: 30%;
  text-decoration: none;
  text-align: center;
  background: cornflowerblue;
  padding: 5px 10px;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
